* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #218f76;
}

/* #root {
  width: 100%;
} */

.currency-converter {
  background: #f3b431;
  /* backdrop-filter: blur(30px); */
  padding: 40px 30px 50px;
  border-radius: 10px;
  min-width: 400px;
  /* border */
  box-shadow: 0 8px 32px #a3cb37;
}

.currency-converter .converter-title {
  color: #ffffff;
  font-size: 25px;
  font-weight: ;
}
